body {
  margin: 0;
  padding-bottom: 1em;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  color: #4f5b69;
  box-sizing: border-box;
}
h1 {
  margin: 0;
  font-weight: 300;
  text-align: center;
}
h2 {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
}
a,
a:hover,
a:visited {
  color: #33a6ff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8125em;
}
a.disabled {
  color: #959ea5;
  cursor: default;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  background-color: #33a6ff;
  color: #fff;
}
header .prev,
header .placeholder {
  flex: 1;
}
header .prev a,
header .placeholder a {
  display: block;
  padding: 2.5rem 2rem;
  color: #fff;
}
header .prev a:hover,
header .placeholder a:hover {
  background-color: rgba(0,0,0,0.15);
}
header .title {
  text-align: center;
  padding: 0 2rem;
}
header .subtitle {
  opacity: 0.5;
  padding-top: 0.25em;
  color: #000;
  text-transform: uppercase;
}
header h1 {
  flex: 4;
}
footer {
  z-index: 100;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background-color: #f1f3f5;
  font-size: 0.75em;
  font-style: italic;
  color: #959ea5;
}
footer .legend {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
footer .legend:before {
  content: "";
  width: 1em;
  height: 1em;
  display: block;
  margin-right: 0.5em;
  border-radius: 50%;
}
footer .legend.dropped:before {
  background-color: #222c32;
}
footer .legend.todo:before {
  background-color: #f50057;
}
footer .legend.doing:before {
  background-color: #ffa000;
}
footer .legend.done:before {
  background-color: #1de9b6;
}
.cards-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2em;
}
.cards-list > a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  padding-left: 2em;
  border-radius: 20rem;
}
.cards-list > a:hover {
  background-color: #f1f3f5;
  text-decoration: underline;
}
.cards-list > a.unlinked {
  color: #4f5b69;
}
.cards-list > a.unlinked:hover {
  text-decoration: none;
}
.cards-list > a span {
  width: 10vw;
  margin-right: 1em;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75vw;
  height: 4em;
  border-radius: 20rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.19), 0 1px 3px rgba(0,0,0,0.12);
  overflow: auto;
}
.card .background-container {
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.status {
  height: 100%;
}
.status-done {
  background-color: #1de9b6;
}
.status-doing {
  background-color: #ffa000;
}
.status-todo {
  background-color: #f50057;
}
.status-dropped {
  background-color: #222c32;
}
.timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f3f5;
}
.timeline a {
  padding: 0.75rem 2rem;
  flex: 1;
  text-align: center;
}
.timeline a:hover {
  background-color: #e3e7eb;
}
.timeline a:first-child {
  text-align: left;
}
.timeline a:last-child {
  text-align: right;
}
.timeline a.disabled {
  opacity: 0.5;
}
.timeline a.disabled:hover {
  background-color: transparent;
}
.timeline div {
  padding: 0 2em;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJidW5kbGUuY3NzIiwic291cmNlUm9vdCI6IiJ9*/